# Ignore node_modules directory
node_modules/

# Ignore build and cache directories
build/
dist/
.cache/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore local environment files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore Docker files
Dockerfile*
.dockerignore

# Ignore other system files
.DS_Store
Thumbs.db
