.email-verification-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 450px;
    z-index: 1000;
}
.popup-container {
    text-align: center;
}
h3 {
    color: #5a2d92;
    font-size: 20px;
    margin-bottom: 10px;
}
p {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}
.otp-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   margin-left: 50px;
   margin-right: 20px;
    width: 10%;
    gap: 10px;
}
.otp-input {
    width: 10px;
    height: 40px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 5px;
    margin: 0.2px;
    outline: none;
}
.otp-input:focus {
    border-color: #5a2d92;
}
.verify-button {
    background-color: #5a2d92;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
}
.verify-button:hover {
    background-color: #4b1f75;
}
.resend-otp {
    font-size: 14px;
    margin-top: 10px;
}
.resend-otp button {
    background-color: none;
    border: none;
    color: #5a2d92;
    cursor: pointer;
    font-weight: bold;
}
.resend-otp button:disabled {
    color: #ccc;
    cursor: not-allowed;
}